<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Snapmaker_Laser_Test_Grid.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Snapmaker_Laser_Test_Grid.My.MySettings>
            <setting name="RapidSpeed" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="SquareSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LaserPowerStart" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="LaserPowerIncrement" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LaserSpeedStart" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="LaserSpeedIncrement" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MatrixWorkOriginCorner" serializeAs="String">
                <value>BL</value>
            </setting>
            <setting name="DrawOuterBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DrawMiddleBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DrawInnerBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DrawCrossMark" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TextLaserPower" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="TextLaserSpeed" serializeAs="String">
                <value>350</value>
            </setting>
        </Snapmaker_Laser_Test_Grid.My.MySettings>
    </userSettings>
</configuration>